html {
    height: 100%;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-weight: bold;
    overflow: hidden;
}

#RobotConfigPanel {
    float: left;
    width: 20%;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
    overflow-y:scroll;
}

#RobotVisualPanel {
    float:   right;
    width:   80%;
    height:  100%;
    padding: 5px;
    overflow-y:scroll;
    box-sizing: border-box;
}

.select {
    text-align: center;
    margin:   0px;
    padding:  0px;
    height:   30px;
    width:    40px;
    background: #eeeeee;
    border: 1px solid black;
}

.display_select {
    border: 0;
    height:   30px;
    width:    30px;
}

.TextBox {
    width: 40px;
    border: 1px solid black;
}

.Slider {
}

.button {
    margin: 2px;
    padding: 5px 10px;
}
